
body{
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container{
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 80px;
}