.Wrapper{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 10px;

}
.input{
margin-top: 10px;
    display: flex;

}

.todo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.complete{
    color: green;
   

}

.notcomplete{
    color: red;
   
}

.textform{
    display: none;
}

.MuiTextField-root{
    background-color: rgba(0,0,0,0.3);
  
}

input[type='text']{
    color: white;
}
label{
    color: white
}

